---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
const publishDateString = new Date(frontmatter.publishDate).toLocaleDateString();
const updateDateString = frontmatter.updateDate ? new Date(frontmatter.updateDate).toLocaleDateString() : undefined;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>著者: {frontmatter.author}</p>
    <p>投稿日: {publishDateString}</p>
    {updateDateString && <p>更新日: {updateDateString}</p>}
    <slot />
</BaseLayout>
